.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db; /* Change this color to your preferred loading color */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
    flex-shrink: 0;
    display: inherit;
  }
  
  /* Animation for the spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}